<%= form_with(model: turno, local: true) do |form| %>
  <% if turno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turno.errors.count, "error") %> prohibited this turno from being saved:</h2>

      <ul>
      <% turno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :turno_fecha %>
  </div>

  <div class="field">
    <%= form.label :horario %>
    <%= form.text_field :horario, id: :turno_horario %>
  </div>

  <div class="field">
    <%= form.label :responsable_id %>
      <%= collection_select(:turno, :responsable_id, Responsable.all, :id, :nombre, {}, {:multiple => false})%>
  </div> 
  <div class="field">
    <%= form.label :solicitado %>
    <%= form.date_select :solicitado, id: :turno_solicitado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
