<p id="notice"><%= notice %></p>

<h1>Turnos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Responsable</th>
      <th>Solicitado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.fecha %></td>
        <td><%= turno.horario %></td>
        <td><%= turno.responsable.nombre %></td>
        <td><%= turno.solicitado %></td>
        <td><%= link_to 'Show', turno %></td>
        <td><%= link_to 'Edit', edit_turno_path(turno) %></td>
        <td><%= link_to 'Destroy', turno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Turno   ', new_turno_path %>
<%= link_to '  Responsables', responsables_path %>
